body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background: url("../images/background.png") no-repeat center center;
background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
}

.question {
  font-size: 45px;
  margin-top: 150px;
  color: white;
  font-weight: bold;
  background: rgba(0,0,0,0.35);
  padding: 20px 60px;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.answers {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 120px;
}

.fish {
  position: relative;
  width: 180px;
  cursor: pointer;
  transition: transform 0.3s;
}

.fish img {
  width: 100%;
  display: block;
  filter: drop-shadow(0 10px 10px rgba(0,0,0,0.3));
}

.fish span {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #f5e6c8; 
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.fish:hover {
  transform: scale(1.15);
}

#score {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: orange;
  padding: 10px 20px;
  border-radius: 10px;
}

.bubbles span {
  position: absolute;
  bottom: -50px;
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  animation: rise 10s infinite;
}

@keyframes rise {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100vh); }
}
.score-box {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(#2980b9, #2980b9);
  padding: 15px 25px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* STARS */
.stars {
  font-size: 22px;
  color: gold;
  margin-bottom: 50px;
}

@keyframes swim {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.fish {
  animation: swim 3s ease-in-out infinite;
}

.fish.correct {
  filter: drop-shadow(0 0 15px lime);
}

.fish.wrong {
  filter: drop-shadow(0 0 15px red);
}

#musicBtn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

#musicBtn:hover {
  background: rgba(0,0,0,0.8);
}