body {
  margin: 0;
  font-family: Arial;
  text-align: center;
  background: linear-gradient(#6dd5fa, #2980b9);
  height: 100vh;
  overflow: hidden;
}

.Logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  opacity: 0.9;
}

.question {
  font-size: 50px;
  margin-top: 150px;
  color: white;
  font-weight: bold;
  background: rgba(0,0,0,0.4);
  display: inline-block;
  padding: 20px 50px;
  border-radius: 25px;
}

.answers {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 100px;
}
.fish {
  width: 120px;
  height: 60px;
  background: orange;
  border-radius: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  color: black;
}

.fish:hover {
  transform: scale(1.15);
}

#score {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 22px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 10px 20px;
  border-radius: 10px;
}